@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick";
@import "slick-theme";
@import "card";

.navbar {
  margin-bottom: 0;
}

.show {
  display: block;
}

.navbar-brand {
  font-size: 26pt !important;
  font-weight: bold !important;
  color: #00f !important;
}
