doctype html
html
  head
    title Card Board
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'

  body
    .container-fluid
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    javascript:
      !function () {
        'use strict';

        $(document).ready(function () {
          $('.carousel').slick({dots: true})
        })

        $(window).on('resize', function () {
          $('.card').height(($(window).width()) / 4.4);
        }).resize();

        $(document).on('click', '.card__i', function () {
          $('.js-cards').hide()
          $($(this).find('.card').data('target')).show()
        })

        $(document).on('click', '.content__close', function () {
          $('.js-cards').show()
          $('.content').hide()
        })
      }();

